@model DBPinnedLink;
<h1>Administration Links Page</h1>

<div class="form-group">
    <form>
    <input type="submit" asp-controller="Home" asp-action="Index" value="Sign out" text="Sign out" class="btn btn-success">
    </form>
</div>
<h2>Delete Pinned Link</h2>

<div class="row my-2">
    <div class="col">
        <div><p>Are you sure you want to delete this pinned link?</p>
        </div>
        <div class="p-3 mb-2 bg-info text-dark">
            <h5>
            <img src="https://www.google.com/s2/favicons?domain_url=@ViewBag.forDeleteLink.link">
            @ViewBag.forDeleteLink.name | @ViewBag.forDeleteLink.link</h5>
        </div>
        <form method="post">
            <input type="hidden" asp-for="pinnedLinkID" value="@ViewBag.forDeleteLink.pinnedLinkID"/>
            <input class="btn btn-success" type="submit" asp-controller="Admin" asp-action="SubmitDeletePinnedLink" value="Delete">
            <a asp-controller="Admin" asp-action="AdminIndex"><input class="btn btn-warning" type="button" value="Cancel"></a>
        </form>
    </div>
</div>
@section scripts {
    <script>startAutoLogout();</script>
}